<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main id="main">        
        <form id="registroForm">
            <label>NOMBRE</label> 
            <input id="nombreRegistro" required autofocus>  
            <label>CORREO</label>
            <input type="email" id="emailRegistro" required> 
            <label>CONTRASEÑA</label>
            <input type="password" id="passwordRegistro" required> 
            <button type="submit" id="btnRegistro">REGISTRAR</button>
        </form>
    </main>
</body>
<script></script>
</html>